@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

/***toda la pagina*/



*{
    color: #616161;
    font-family: 'Jost';
    font-style: normal;
    
    line-height: 120.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    *,
    *::after,
    *::before {
     box-sizing: inherit;
    }

    html{
        height: -webkit-fill-available;
        box-sizing: border-box;
        font-size: 62,5%; 
        
    }
    body{
        min-height: 100vh;
        min-height: -webkit-fill-available;
        font-size: 1.6rem;
       
    }
  
 /*header*/   
    header{
        background-color: #A0B482;
        margin: 0 auto;
    
    }
    header img{
       
        width: 166px;
        height: 101px;
        max-width: 100%;
        display: block;
       
    }
    /*navegacion*/
    .navegacion_header{
        
        height: auto;
        width: auto;
        top: 30px;
        line-height: 120.5%;
        
        text-align: right;
        text-transform: uppercase;
        
        
    }

    .navbar-collapse{
        align-items: flex-end;
    }
    .custom-toggler.navbar-toggler {
        border-color: rgba(0, 0, 0, 0.196);
        border-radius: 5px;
        border-style:hidden ;
        background-size: 100%;
        
    }
    .custom-toggler .navbar-toggler-icon{
        background-image:url("./src/058.png");
        background-size: 100%;
        width: 4em;
        height: 4em;
        min-height: 100%;
        text-align: center;
        
    }
    
   
    .navbar-collapse{
        align-items: right;
    }
    .nav_item{
        list-style:none; 
        display: inline-block;
        padding: 5px;
       
    }
    .nav_link{
        color: #616161;
        text-decoration:none;
    }
    .nav_link:active{
        color: #616161;
        font-family:'Jost', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        text-decoration:none;
        }
    
    .nav_link:hover{
        color: #ffff;
        font-family:'Jost', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
        text-decoration:none;
        
    }
    
    .nav_btn{
        border-radius:10px;
        outline:none;
        padding: 0; border: none; background: none;
        color: white;
        text-decoration:none;
        text-transform: uppercase;
        }
    
        .nav_btn:active{
            color: #616161;
            font-family:'Jost', sans-serif;
            font-weight: 400;
            font-size: 20px;
            font-style: normal;
            text-decoration:none;
            text-transform: uppercase;
            }
        
        .nav_btn:hover{
            color: #616161;
            font-family:'Jost', sans-serif;
            font-weight: 400;
            font-size: 30px;
            font-style: normal;
            text-transform: uppercase;
            
        }
       
    main{
       
        width: 100%;
       
        overflow: hidden;
        background-color: #d6dde3;
        
       
       
    }
    
   section{
        width: auto;
        margin: 5rem; 
    }
    .home{
        border-bottom-style: double;
        border-bottom-width: 2rem;
       
        
    }
    
    .pepe{
        margin: 20rem;
        margin-block-end: 10rem;
       
    }
   .datos_home{
    max-width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    
   }
   
   #imagenPerfil{
    max-width: 100%;
    display: block;
    max-height: 100%;
  
    border-radius: 5em;
}
    .nombre{
        font-size:  calc(3rem + 1vw);
        margin-top: 1em;
        display: grid;
        
        }
    
    .apellido{
    font-size:  calc(5rem + 1vw);
    display: grid;
    justify-items: center;
     }
   
   
    footer{
       
        margin: 0 auto;
       
        height: calc(10rem + 1vw);
       
        
        background: #A0B482;
    }
    
    /*-----------*/
    @media (max-width: 779px) {
        p {
          font-size: 3rem;
        }
        .nombre{
            font-size: calc(1.5rem + 1vw);
        }
        .apellido{
            font-size: calc(3rem + 1vw);
        }
      }

      @media (max-width: 523px) {
        p {
          font-size: 3rem;
        }
        .nombre{
            font-size: calc(1rem + 1vw);
        }
        .apellido{
            font-size: calc(2rem + 1vw);
        }
      }
      @media (max-width: 415px) {
        p {
          font-size: 3rem;
        }
        .nombre{
            font-size: calc(0.2rem + 1vw);
        }
        .apellido{
            font-size: calc(1rem + 1vw);
        }
      }
     
    /*.navegacion_header{
        position: absolute;
        width: 760px;
        height: 24px;
        left: 603px;
        top: 40px;
        
        
        text-align: right;
        text-transform: uppercase;
        
        
    }
    .nav_link{
        color: #616161;
    }
    .nav_link:active{
        color: #616161;
        font-family:'Jost', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
    }
    
    .nav_link:hover{
        color: #ffff;
        font-family:'Jost', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
    }
    
    nav.ul{
        list-style-type: none;
    }
    nav.li{
        float: right;
    }*/
    
    